table {
    color: #6e7377;
}
.btn-opt{
    background-color: #fff !important;
    color: #042441 !important;
    border-color: #042441 !important;
    border-radius: 0 !important;
    margin-bottom: 10px;
    width: 100%;
}
.btn-opt.active{
    background-color: #042441 !important;
    color: #fff !important;
    border-radius: 0 !important;
}
.btn-aktif {
    background-color: #042441 !important;
    color: #fff !important;
    border-radius: 0 !important;
}