/***********************************************************************
* TEMPLATE
***********************************************************************/
footer{
    background-color: #042441;
    color: white;
}
.footer-link{
    color: white !important;
}
.title-modal{
    text-align: center;
    font-weight: bold;
}
.btn-secondary{
    color: #fff !important;
    background-color: #545b62 !important;
    border-color: #4e555b !important;
}
.btn-x{
    color: white !important;
    width: 100%;
    background-color: #cc0000 !important;
    border-color: #cc0000 !important;
    font-size: 12pt !important;
}
.btn-xr{
    width: 100%;
    background-color: #afacc9 !important;
    border-color: #afacc9 !important;
    font-size: 12pt !important;
}
.btn-opt{
    background-color: #fff !important;
    color: #042441 !important;
    border-color: #042441 !important;
    border-radius: 0 !important;
    margin-bottom: 10px;
    width: 100%;
}
.btn-opt.active{
    background-color: #042441 !important;
    color: #fff !important;
    border-radius: 0 !important;
}
.btn-opt.disabled, .btn-opt:disabled {
    opacity: 100 !important;
}
.input_add{
    background-color: #042441 !important;
    color: #fff !important;
    border-color: #042441 !important;
}
.remember{
    margin-left: 8px;
    font-size: 10pt;
}
.demo-checkbox label, .demo-radio-button label {
    min-width: 0 !important;
}
.drop-profile{
    top: 110%;
    right: 0;
    left: auto !important;
}
.dropdown-toggle::after {
    color: white;
}
.nav-profile{
    border: 1px solid #042441 !important;
    border-radius: 0 !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    margin-left: 3px !important;
    color: #042441 !important;
}
.nav-profile.active{
    border: 1px solid #042441 !important;
    border-radius: 0 !important;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    color: #fff !important;
    background-color: #042441 !important;
}

table.table-bordered{
    border:2px solid #042441;
    margin-top:20px;
}
table.table-bordered > thead > tr > th{
    border:2px solid #042441;
}
table.table-bordered > tbody > tr > td{
    border:2px solid #042441;
}

#errorplace, #errorwtb {
    display: none;
}

.dropdate {
    width: 33%;
    min-width: 400px;
    padding: 15px;
    padding-left: 0px;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    margin-top: -30px;
}

/* Example Heading */
.dropdate select {
    padding: 10px;
    background: #ffffff;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin: 0 3px;
    color: #868e96;
}

.dropdate select.invalid {
    color: #E9403C;
}

.button-badge {
  position: relative;
  display: inline-block;
}

.notif {
    position: absolute;
    top: 5px;
    right: 1px;
    background-color: red;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.notif-book {
    position: absolute;
    top: 5px;
    right: 68px;
    background-color: red;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.notif-mytour {
    position: absolute;
    top: 5px;
    right: 98px;
    background-color: red;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.menu-top {
    margin-right: 10px;
}
/***********************************************************************
* HOME PAGE
***********************************************************************/
.img-home {
    width:100% !important;
    height: 350px !important;
}
.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.white-border  {
    border: 1px solid #fff;
}
.input-group.md-form.form-sm.form-2 input.lime-border  {
    border: 1px solid #cddc39;
}
.input-group.md-form.form-sm.form-2 input.amber-border  {
    border: 1px solid #ffca28;
}
.search-bar{
    margin-left: 60px;
}
.margin1{
    margin-top: 80px;
    margin-bottom: 20px;
}
.margin2{
    margin-bottom: 90px;
}
.margin3{
    margin-top: 130px;
}
.margin4{
    margin-top: 30px;
    margin-bottom: 20px;
}
.margin5{
    margin-top: 20px;
}
.margin6{
    margin-top: 100px;
}
.margin7{
    margin-top: 100px;
    margin-bottom: 20px;
}
.margin8{
    margin-bottom: 40px;
}
.img-border{
    width: 100%;
    border: 2px solid #343a40;
    min-height: 150px;
}
.text-topdest{
    color: white;
    text-align: center;
    margin-top: -100px;
    position: relative;
    z-index: 999;
    background-image: linear-gradient(-242deg,rgba(0,0,0,.3),rgba(0,0,0,.8));
    padding: 10px 0px;
}
.text1{
    color: #a59b9b;
    font-size: 10pt;
    margin-bottom: 0;
}
.text2{
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 0;
}
.text3 {
    font-size: 10pt;
    margin-bottom: 0;
}
.img-star{
    width: 15px;
    margin-bottom: 0;
}
.text-rate{
    /*margin-left: 10px;*/
    color: #ca2525;
    font-weight: 700;
    font-size: 10pt;
}
.text-review{
    color: #ca2525;
    font-size: 10pt;
}
.img-star-review{
    width: 20px;
    margin-bottom: 6px;
}

/***********************************************************************
* SIGN UP PAGE
***********************************************************************/
.box-sign{
    border: 1px solid #cdd0d4;
    padding: 15px;
    background: #fff;
}

/***********************************************************************
* GUIDE PAGE
***********************************************************************/
.hr-guide{
    border: 2px solid #042441;
}
.title-guide{
    margin-top: 10px;
    color: #042441;
}
.line{
    margin-top: 15px;
    overflow: hidden;
    text-align: center;
}
.line:before,
.line:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.line:before {
    right: 0.5em;
    margin-left: -50%;
}
.line:after {
    left: 0.5em;
    margin-right: -50%;
}

/***********************************************************************
* ITINERARY PAGE
***********************************************************************/
.datepicker{
    top:323px !important;
}
.itin-note{
    font-size: 9pt;
    text-align: center;
}
.itin-star{
    width: 27px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.itin-mb{
    margin-bottom: 5px;
}
.contact{
    background:none!important;
    border:none; 
    padding:0!important;
    color:red;
    font-size: 10pt;
    text-decoration:underline;
    cursor:pointer;
}
.nama-profil{
    font-weight: bold;
}
.foto-profil{
    width: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.hr-border{
    border: 2px solid #042441;
}
.lbl-loc{
    font-weight: bold;
    color: red;
    margin-bottom: 5px;
}
.lbl-tourist{
    /*font-weight: bold;*/
    color: #042441;
    margin-bottom: 5px;
}
.lbl-xmiles{
    background-color: #042441;
    font-size: 10pt;
    color: white;
    padding: 12px;
    border-radius: 5px;
}
.icon-img{
    width: 20px;
    margin-right: 5px;
}
.itin-title{
    font-weight: bold;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.carousel-item{
    width: 100%; /*width you want*/
    height: 800px; /*height you want*/
    overflow: hidden;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/***********************************************************************
* TOS, Privacy Policy
***********************************************************************/
.mt-term {
    margin-top: 135px;
}
.wrap {
    border: 1px solid #e2dfdf;
    padding-top: 30px;
    margin-bottom: 20px; 
}
.flag-lang {
    width: 20px;
    margin-right: 5px;
    margin-top: -3px;
}
.link-lang {
    color : #4b5a64;
}